*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	--primary-color: rgb(27, 26, 26); 
	--secondary-color: rgb(255, 255, 255); 
	--accent-color: rgb(93, 255, 214);
	--accent-color2: rgb(255, 213, 0);
	overflow-x: hidden;
	font-family: 'PT Sans', sans-serif;
}

header{
	display:flex;
	background-image:url(assets/header.jpg);
	background-color: rgba(0, 0, 0, 0.274);
	background-blend-mode: overlay;
	min-height:100vh;
	width:100vw;
	position:fixed;
	justify-content: center;
	z-index:1;
}

.hQuote{
	font-family: 'PT Sans', sans-serif;
	align-self: center;
	overflow: visible;
}

.hQuote h2{
	font-size:4rem;
	text-shadow: 0px 0px 10px var(--secondary-color);
	overflow: visible;
}

.hContainer{
	padding:0.5rem 0;
	position:absolute;
	display:flex;
	justify-content: space-around;
	align-items:center;
	left:0;
	top:0;
	width:100vw;
	border-radius: 20px;
	transition:all 0.5s;
	overflow: visible;
}

.hLogo a{
	color:var(--accent-color2);
	text-shadow: 1px 1px 10px var(--secondary-color);
	font-family: 'Pacifico', cursive;
	font-size: 3rem;
	text-decoration: none;
}

.hLogo{
	overflow:visible;
}

.icon{
	color:var(--accent-color2);
}

.hNavbar{
	overflow: visible;
}

.hNavbar ul{
	overflow: visible;
}

.hNavElem a{
	font-family: 'Overpass', sans-serif;
	color: var(--accent-color2);
	font-size:1.2rem;
	transition:all 0.2s;
	text-shadow: 1px 1px 10px rgb(255,255,255,0.5);
	overflow: visible;
}

.hNavElem{
	font-weight:bold;
	display:inline-block;
	overflow: visible;
	padding:0.4rem;
}

.hNavElem:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	transition:all 0.2s;
}

.hNavElem a{
	text-decoration:none;
}

.hNavElem:hover a{
	color:var(--accent-color);
}


.hActive a{
	color:var(--accent-color);
	overflow: visible;
}

.hActive{
	transform: scale(1.2);
	overflow: visible;
}

.wrapper{
	position:relative;
	z-index:2;
	pointer-events: none;
}

.filler{
	min-height:100vh;
	min-width:100vw;
}

.content{
	background-color:white;
	pointer-events: auto;
	padding:1rem;
	border-radius:30px;
	width:90vw;
	margin:0 auto;

	/* Card Effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
	transition: 0.3s;
}

.content:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.window{
	width:100vw;
	height:20vh;
}

footer{
	position: absolute;
	display:flex;
	z-index:4;
	width:100vw;

}

.fWrapper{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	width:90vw;
	border-radius: 20px 20px 0 0;
	padding:1rem;
	margin:0 auto;
}

.fWrapper a:link, .fWrapper a:visited, .fWrapper a:hover, .fWrapper a:active{
	color:var(--primary-color);
}

.fIcon{
	color:var(--primary-color);
	font-size:2rem;
	margin:0 0.3rem;
	transition: color 0.3s
}

.fIcon:hover{
	color:var(--accent-color);
}

.fSocialMediaIcons{
	display:flex;
	align-items: center;
}

.love{
	font-size:0.7rem;
}

@media screen and (max-width: 768px) {
	
	.hQuote{
		text-align: center;

	}
	
	.hQuote h2{
		font-size:2rem;
		overflow: visible;
	}

	.hContainer{
		flex-direction:column;
	}

	.hLogo{
		padding:1.2rem 0rem;
	}

	.hLogo a{
		font-size:2.5rem;
	}

	.fWrapper{
		flex-direction: column;
	}

	.fWrapper *{
		padding:0.3rem 0;
	}
}

/***********************
TODO:
	Add real text

	Add better title

	Add a title icon

	**DONE**Add responsive website for screens under 768px
		**Half done?** Test on devices
		**BUG** When user scrolls too fast, navbar doesn't disappear. Especially true on mobile.


	**DONE** Fix nav floating around on hover

************************/